@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/static/Montserrat-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/static/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/static/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 200;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 100;

}

body {
  background: rgb(20, 20, 23);
  background: radial-gradient(circle, rgba(20, 20, 23, 1) 0%, rgba(22, 17, 28, 1) 53%, rgba(15, 31, 29, 1) 100%);
  padding: 1em;
  padding-bottom: 10em;

}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  align-items: center;

  @media (max-width: 800px) {
    display: none;
  }
}

h3 {
  color: rgb(43, 60, 50);
  font-weight: 0;
  margin: 2.0em;
  margin-left: 50%;
  width: "50%";
  text-align: center;
  align-items: center;
}

h4 {
  color: rgb(202, 202, 202);
  font-size: 1.2em;
  font-weight: 1;
}



p {
  color: rgb(196, 196, 196);
  font-weight: 600;
  margin: 0.5em 0;
  padding: 1em;
}

a {
  display: flex;
  flex-direction: row;
  gap: 8px;
  text-decoration: none;
  color: (30, 31, 49);
}

a:visited {
  color: (30, 31, 49);
  text-align: center;
  align-items: left;
}

a:hover {
  color: rgb(83, 199, 152);
  transition: .4s;

}

a:active {
  color: rgb(255, 255, 255);
}

button {
  border: none;
  background: rgb(83, 199, 152);
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 0 2em;
  height: 3em;
  font-size: 1em;
  border-radius: 2em;
  vertical-align: center;
  text-align: center;
  align-items: center;
  transition: .2s;
}

button:hover {
  cursor: pointer;
  background: rgb(55, 125, 97);
  transition: .4s;

}