:root {}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: rgb(63, 82, 77);
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;

}

header {
  display: flex;
  justify-content: space-between;
}

body {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 55px;
  font-weight: 900;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
  margin-top: 30px;
}

h3 {
  color: rgb(103, 167, 136);
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;

}

p {
  color: rgb(173, 173, 173);
  font-size: 20px;
  font-weight: 400;
}

a {
  color: rgb(173, 173, 173);
  text-align: right;
}



/* visited link */
a:visited {
  color: rgb(108, 143, 126);
}

/* mouse over link */
a:hover {
  color: rgb(196, 241, 204);
  cursor: pointer;
}

/* selected link */
a:active {
  color: rgb(96, 135, 112);
}